html, body {
  height: 100%;
}

#H1{
  color: white;
  font-size: 72px;
  padding-bottom: 10px;
}

p {
  color: white;
  z-index: 0;
}

#background {
  background: url("Images/Linlithgow - Background.png");
  background-attachment: fixed;
  background-size: cover;
  width: auto;
  height: 100vh;
  overflow: scroll;
  overflow-y: visible;
}

#blurb {
  padding-top: 65px;
  padding-bottom: 65px;
  font-size: 18px;
}

#text {
  font-size: 16px;
}

.col-sm-4 {
  padding-bottom: 12px;;
}

#event {
  font-size: 32px;
  padding-top: 115px;
}

#marchesText {
  font-size: 18px;
  position: absolute;
}

#palaceText {
  font-size: 18px;
  position: absolute;
}

#galaText {
  font-size: 18px;
  position: absolute;
}

#joustingText {
  font-size: 18px;
  position: absolute;
}

#marches {
  position: relative;
  z-index: 2;
}

#jousting {
  position: relative;
  z-index: 1;
}

#gala {
  position: relative;
  z-index: 1;
}

#palace {
  position: relative;
  z-index: 1;
}

#map {
  width: 400px;
  height: 400px;
  background-color: grey;
  padding-bottom: 24px;
}
