html, body {
  height: 100%;
}

#H1 {
  color: white;
  font-size: 72px;
  padding-bottom: 10px;
}

#H2 {
  color: white;
}

#welcome {
  color: white;
}

p {
  color: white;
  z-index: 0;
}

#warning {
  color: red;
}

#background {
  background: url("Images/Linlithgow - Background.png");
  background-attachment: fixed;
  background-size: cover;
  width: auto;
  height: 100vh;
  overflow: scroll;
  overflow-y: visible;
}

#cookie {
  color: black;
}

#clock {
  padding-top: 16px;
}

#blurb {
  padding-top: 65px;
  padding-bottom: 65px;
  font-size: 18px;
}

#text {
  font-size: 16px;
}

#historyImage {
  padding-bottom: 50px;
}

#info {
  font-size: 18px;
}

.col-sm-4 {
  padding-bottom: 12px;
}

#tableIntro {
  padding-top: 32px;
}

#bottom {
  padding-top: 24px;
  padding-bottom: 42px;
}

#event {
  font-size: 32px;
  padding-top: 18%;
}

#marchesText {
  font-size: 18px;
  position: absolute;
}

#palaceText {
  font-size: 18px;
  position: absolute;
}

#galaText {
  font-size: 18px;
  position: absolute;
}

#joustingText {
  font-size: 18px;
  position: absolute;
}

#marches {
  position: relative;
  z-index: 2;
}

#jousting {
  position: relative;
  z-index: 1;
}

#gala {
  position: relative;
  z-index: 1;
}

#palace {
  position: relative;
  z-index: 1;
}

#map {
  width: 400px;
  height: 400px;
  background-color: grey;
  padding-bottom: 24px;
}


@font-face {
  font-family: 'weather';
  src: url('Images/weather/artill_clean_icons.otf');
  font-weight: normal;
  font-style: normal;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 75px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

.icon-0:before {
  content: ":";
}

.icon-1:before {
  content: "p";
}

.icon-2:before {
  content: "S";
}

.icon-3:before {
  content: "Q";
}

.icon-4:before {
  content: "S";
}

.icon-5:before {
  content: "W";
}

.icon-6:before {
  content: "W";
}

.icon-7:before {
  content: "W";
}

.icon-8:before {
  content: "W";
}

.icon-9:before {
  content: "I";
}

.icon-10:before {
  content: "W";
}

.icon-11:before {
  content: "I";
}

.icon-12:before {
  content: "I";
}

.icon-13:before {
  content: "I";
}

.icon-14:before {
  content: "I";
}

.icon-15:before {
  content: "W";
}

.icon-16:before {
  content: "I";
}

.icon-17:before {
  content: "W";
}

.icon-18:before {
  content: "U";
}

.icon-19:before {
  content: "Z";
}

.icon-20:before {
  content: "Z";
}

.icon-21:before {
  content: "Z";
}

.icon-22:before {
  content: "Z";
}

.icon-23:before {
  content: "Z";
}

.icon-24:before {
  content: "E";
}

.icon-25:before {
  content: "E";
}

.icon-26:before {
  content: "3";
}

.icon-27:before {
  content: "a";
}

.icon-28:before {
  content: "A";
}

.icon-29:before {
  content: "a";
}

.icon-30:before {
  content: "A";
}

.icon-31:before {
  content: "6";
}

.icon-32:before {
  content: "1";
}

.icon-33:before {
  content: "6";
}

.icon-34:before {
  content: "1";
}

.icon-35:before {
  content: "W";
}

.icon-36:before {
  content: "1";
}

.icon-37:before {
  content: "S";
}

.icon-38:before {
  content: "S";
}

.icon-39:before {
  content: "S";
}

.icon-40:before {
  content: "M";
}

.icon-41:before {
  content: "W";
}

.icon-42:before {
  content: "I";
}

.icon-43:before {
  content: "W";
}

.icon-44:before {
  content: "a";
}

.icon-45:before {
  content: "S";
}

.icon-46:before {
  content: "U";
}

.icon-47:before {
  content: "S";
}
